<div class="deck-editor">
  <div class="header">
    <h1>Édition des Decks</h1>
    <div class="actions">
      <button class="import-button" (click)="importDecksClick()">
        Charger les decks
      </button>
      <button class="export-button" (click)="exportDecks()">
        Sauvegarder les decks
      </button>
    </div>
  </div>

  <div class="decks-list">
    <div *ngFor="let deck of decks" class="deck-item">
      <h3>{{ deck.name }}</h3>

      <div class="roles-section">
        <p>Rôles : {{ deck.roles.length }}</p>
        <div class="items-container">
          <div *ngFor="let role of deck.roles">
            <span >{{ role }} <button class="button-delete" (click)="removeRole(deck, role)">×</button></span>
          </div>
        </div>
        <button class="button-add" (click)="addRole(deck)">+</button>
      </div>

      <div class="subjects-section">
        <p>Sujets : {{ deck.subjects.length }}</p>
        <div class="items-container">
          <span *ngFor="let subject of deck.subjects">{{ subject }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
