/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.card {
  transition: transform 0.2s;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.card:hover {
  transform: translateY(-5px);
}
